doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Resource Usage Summary

  body
  div(style="background-color: #f3f3ff; padding: 16px 0; color: #2A2C37;" class='noto-sans')
    style.
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap")

      .noto-sans {
        font-family: 'Noto Sans Thai', sans-serif;
      }

      .link-font {
        color: #4959D1;
        text-decoration: none;
        font-weight: 600;
      }

    - function capitalizeFirstLetter(string) {
    -  return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    - }


    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f3f3ff;")
    tr
      td
        center
          table(border="0" cellpadding="0" cellspacing="0" width="595")
            tr
              td(style="padding:32px 24px; background-color:#ffffff; font-size:14px; font-weight: 400px")
                table(border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td
                      img(src=logo alt="Nipa Cloud Logo" title="Nipa Cloud Logo" width="208" height="52" style="display:block; width:208px; height: 52px")

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td
                      | Dear #{recipient_name || "Customer"}

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td
                      | A new resource usage cost summary is now available for your review.
                div(style="padding: 0 16px;  margin-bottom: 24px;")
                  table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 16px;")
                    tr
                      td(colspan="2", style="font-weight:600; font-size:16px; padding-bottom:8px;")
                        | Resource Usage Summary
                    tr
                      td(style="width:150px; font-weight:600; padding-bottom:8px;") Period
                      td(style="padding-bottom:8px;")
                        | : #{cycle_started_at} to #{cycle_end_at}
                    tr
                      td(style="width:150px; font-weight:600; padding-bottom:8px;") Project ID
                      td(style="padding-bottom:8px;")
                        | : #{project_id}
                    tr
                      td(style="width:150px; font-weight:600; padding-bottom:8px;") Project Name
                      td(style="padding-bottom:8px;")
                        | : #{project_name}
                        span(style="color:#8D91A6;")  (#{capitalizeFirstLetter(wallet_type)})
                    tr
                      - var outStandingBalanceDisplay = (Math.ceil(outstanding_amount/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                      td(style="width:150px; font-weight:600;") Outstanding Balance
                      if outstanding_amount && outstanding_amount > 0
                        td
                          | : #{outStandingBalanceDisplay} THB
                      else
                        td
                          | : -

                  table(width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;")
                    tbody
                      tr(style="text-align:left; border-top:1px solid #C5C7D3; border-bottom:1px solid #E6E6EC; color:#8D91A6;")
                        td(style="padding:8px 0;") Resource Type
                        td(style="padding:8px 0; text-align:right;") Cost

                      - var resourceList = resources || []

                      if !resourceList || resourceList.length === 0
                        - resourceList.push({ name: "-", price: 0 })
                  
                      each item in resourceList
                        - var priceDisplay = (Math.ceil(item.price/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        tr(style="border-bottom:1px solid #E6E6EC;")
                          td(style="padding:8px 0;")= item.name
                          td(style="padding:8px 0; text-align:right; ") #{priceDisplay} THB
                      
                      tr
                        - var totalDisplay = (Math.ceil(total_amount/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        td(style="padding:8px 0;") Total
                        td(style="padding:8px 0; text-align:right;") #{totalDisplay} THB
                      tr
                        - var vatDisplay = (Math.ceil(vat_amount/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        td(style="padding:8px 0;") VAT 7%
                        td(style="padding:8px 0; text-align:right;") #{vatDisplay} THB

                      tr(style="border-bottom:1px solid #C5C7D3; font-weight:600;")
                        - var granTotalDisplay = (Math.ceil(grand_total/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        td(style="padding:8px 0;") Grand Total
                        td(style="padding:8px 0; text-align:right;") #{granTotalDisplay} THB

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td
                      | For a complete usage breakdown, please check your billing history on the Billing & Wallet page on 
                      a(href="https://space.nipa.cloud" title="https://space.nipa.cloud" target="_blank" class="link-font") Nipa Cloud Portal
                      |  For any questions, please contact us via
                      a(href="https://https://nipa.cloud/contact/technical" title="https://https://nipa.cloud/contact/technical" target="_blank" class="link-font")  Customer Support
                      | , 
                      strong(style="font-weight:600;")  +66 86 328 3030
                      |  or 
                      a(href="mailto:support@nipa.cloud" title="mailto:support@nipa.cloud" class="link-font") support@nipa.cloud
                      | .

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td
                      | This report is based on Nipa Cloud’s Pay-as-you-go pricing model. Customers are charged based on actual usage, which may vary each cycle as shown in this report.

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td
                      div Best regards,
                      div(style="color:#232C65;") Nipa Cloud Space Team

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #C5C7D3; margin-bottom:24px;")
                  tr
                    td

                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                  tr
                    td(style="text-align:center; color:#8D91A6; font-weight:600; font-size:10px;")
                      | Please do not reply, as this email was generated by an automated system.

            tr
              td(style="background-color:#1E2657; padding:16px 24px; text-align:center; font-size:10px; color:#F9F9FC;")
                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                  tr
                    td(style="padding-bottom:16px;")
                      | © 2025 Nipa Technology Co., Ltd., All Rights Reserved.
                  tr
                    td(style="padding-bottom:16px;")
                      | NIPA Cloud does not request any personal information, such as a username or password. 
                      | If you are asked to provide such information, please decline and inform us for your safety.
                  tr
                    td
                      a(href="https://nipa.cloud/privacy" title="Privacy Policy" target="_blank" style="color:#F9F9FC; text-decoration:none;") Privacy Policy
                      |  |
                      a(href="https://nipa.cloud/terms" title="Terms of Service" target="_blank" style="color:#F9F9FC; text-decoration:none;")  Terms of Service