doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Resource Usage Summary

  body
  div(style="background-color: #f3f3ff; padding: 16px 0; color: #2A2C37;" class='noto-sans')
    style.
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap")

      .noto-sans {
        font-family: 'Noto Sans Thai', sans-serif;
      }

      .link-font {
        color: #4959D1;
        font-weight: 400;
      }

    - function capitalizeFirstLetter(string) {
    -  return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    - }


    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f3f3ff;")
    tr
      td
        center
          table(border="0" cellpadding="0" cellspacing="0" width="715")
            tr
              td(style="padding:36px 24px 16px 24px; background-color:#ffffff; font-size:14px; font-weight: 400px")
                table(border="0" cellspacing="0" cellpadding="0" style="padding-bottom:12px;")
                  tr
                    td
                      img(src=logo alt="logo" title="logo" width="208" height="52" style="display:block; width:208px; height: 52px")

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:12px; padding-bottom:16px;")
                  tr
                    td
                      | Dear #{recipient_name || "Customer"}

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:16px;")
                  tr 
                    td
                      | The latest cycle report is now available.
                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:16px; font-size:12px;")
                  tr 
                    td
                      | รายงานสรุปค่าใช้จ่ายรอบล่าสุดพร้อมแล้ว
                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:8px; padding-top:16px; border-top:1px solid #E6E6EC;")  
                  tr
                    td(colspan="2", style="font-weight:600; font-size:16px;")
                      | Resource Usage Summary
                div(style="padding: 16px; border: 1px solid #E6E6EC; border-radius: 16px; margin-bottom:16px;")
                  table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 16px;")
                    tr
                      td(style="width:144px; font-weight:600; padding-bottom:8px;") Period
                      td(style="padding-bottom:8px; padding-left:4px;")
                        | : #{cycle_started_at} to #{cycle_end_at}
                    tr
                      td(style="width:144px; font-weight:600; padding-bottom:8px;") Project Name
                      td(style="padding-bottom:8px; padding-left:4px;")
                        | : #{project_name}
                        span(style="color:#8D91A6;")  (#{capitalizeFirstLetter(wallet_type)})    
                    tr
                      td(style="width:144px; font-weight:600; padding-bottom:8px;") Project ID
                      td(style="padding-bottom:8px; padding-left:4px;")
                        | : #{project_id}
                    tr
                      - var outStandingBalanceDisplay = (Math.ceil(outstanding_amount/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                      td(style="width:144px; font-weight:600;") Outstanding Balance
                      if outstanding_amount && outstanding_amount > 0
                        td(style="padding-left:4px;")
                          | : #{outStandingBalanceDisplay} THB
                      else
                        td(style="padding-left:4px;")
                          | : -

                  table(width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;")
                    tbody
                      tr(style="text-align:left; border-top:1px solid #C5C7D3; border-bottom:1px solid #E6E6EC; color:#8D91A6;")
                        td(style="padding:8px 0;") Resource Type
                        td(style="padding:8px 0; text-align:right;") Cost

                      - var resourceList = resources || []

                      if !resourceList || resourceList.length === 0
                        - resourceList.push({ name: "-", price: 0 })
                  
                      each item in resourceList
                        - var priceDisplay = (Math.ceil(item.price/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        tr(style="border-bottom:1px solid #E6E6EC;")
                          td(style="padding:8px 0;")= item.name
                          td(style="padding:8px 0; text-align:right; ") #{priceDisplay} THB
                      
                      tr
                        - var totalDisplay = (Math.ceil(total_amount/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        td(style="padding:8px 0;") Total
                        td(style="padding:8px 0; text-align:right;") #{totalDisplay} THB
                      tr
                        - var vatDisplay = ((vat_amount/10000)/100).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 })
                        td(style="padding:8px 0;") VAT 7%
                        td(style="padding:8px 0; text-align:right;") #{vatDisplay} THB

                      tr(style="font-weight:600;")
                        - var grandTotalDisplay = (Math.ceil(grand_total/10000)/100).toLocaleString(undefined,{minimumFractionDigits:2, maximumFractionDigits:2})
                        td(style="padding-top: 8px;") Grand Total
                        td(style="padding-top: 8px; text-align:right;") #{grandTotalDisplay} THB
                table 
                  tr 
                    td(style="padding-bottom:8px;")
                      | This report is based on Nipa Cloud’s pay-as-you-go pricing model. Projects are charged based on actual usage, which may vary each cycle as shown in this report.
                  tr 
                    td(style="font-size:12px; padding-bottom:16px;")
                      | รายงานฉบับนี้แสดงการคิดค่าบริการ Pay-as-you-go โดยเป็นคิดค่าบริการตามการใช้งานจริง ซึ่งอาจผันแปรได้ในแต่ละรอบเดือน

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:16px; padding-bottom: 8px; border-top:1px solid #E6E6EC;")
                  tr
                    td
                      | For any questions, please contact our 
                      a(href="https://nipa.cloud/contact/technical" title="https://nipa.cloud/contact/technical" target="_blank" class="link-font") Customer Support
                      |  at +66 86 328 3030 or 
                      a(href="mailto:support@nipa.cloud" title="mailto:support@nipa.cloud" class="link-font") support@nipa.cloud.
                  tr 
                    td    
                      |  Our team will get back to you as soon as possible.

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:16px; font-size:12px;")
                  tr
                    td
                      | หากต้องการสอบถามข้อมูลเพิ่มเติม กรุณาติดต่อ 
                      a(href="https://nipa.cloud/contact/technical" title="https://nipa.cloud/contact/technical" target="_blank" class="link-font")  Customer Support
                      |  ของเราทันทีที่ +66 86 328 3030 หรือ 
                      a(href="mailto:support@nipa.cloud" title="mailto:support@nipa.cloud" class="link-font") support@nipa.cloud
                  tr    
                    td
                      |  และทีมของเราจะแจ้งกลับโดยเร็วที่สุด

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:24px;")
                  tr
                    td(style="padding-bottom:4px;") Best regards,
                  tr
                    td(style="color:#232C65; font-weight:600;") Nipa Cloud Space Team

                table(width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #C5C7D3; margin-bottom:16px;")
                  tr
                    td

                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                  tr
                    td(style="text-align:center; color:#8D91A6; font-weight:600; font-size:10px;")
                      | Please do not reply, as this email was generated by an automated system.
            tr
              td(style="background-color:#1E2657; padding:16px 24px; font-size:10px; color:#F9F9FC;")
                table(width="100%" border="0" cellspacing="0" cellpadding="0")
                  tr
                    td(style="padding-bottom:16px;")
                      img(src=logo_footer alt="footer-logo" title="footer-logo" width="112" height="28" style="display:block; width:112px; height: 28px")
                  tr
                    td
                      | NIPA Cloud does not request any personal information, such as a username or password. 
                  tr  
                    td(style="padding-bottom:16px;")
                      | If you are asked to provide such information, please do not respond and immediately notify the Nipa Cloud team at 
                      a(href="mailto:support@nipa.cloud" title="mailto:support@nipa.cloud" style="color:#F9F9FC;") support@nipa.cloud
                  table(width="100%" border="0" cellspacing="0" cellpadding="0")
                    tr
                      td(style="text-align:left; white-space:nowrap;")
                        a(href="https://nipa.cloud/contact/technical" title="Customer Support" target="_blank" style="color:#C5C7D3; text-decoration:none;") Customer Support
                        |  |
                        a(href="https://nipa.cloud/privacy" title="Privacy Policy" target="_blank" style="color:#C5C7D3; text-decoration:none;")  Privacy Policy
                        |  |
                        a(href="https://nipa.cloud/terms" title="Terms of Service" target="_blank" style="color:#C5C7D3; text-decoration:none;")  Terms of Service
                      td(style="text-align:right; white-space:nowrap; color:#C5C7D3;") 
                        | © 2025 Nipa Technology Co., Ltd., All Rights Reserved.
